Knowledge/3-Work[[:space:]]knowledge/1-Software[[:space:]]Engineering/1-Testing/4-Multi[[:space:]]Sources/Testing[[:space:]]Dragons[[:space:]]-[[:space:]]Manual[[:space:]]Testing[[:space:]]Using[[:space:]]Agile[[:space:]]&[[:space:]]JIRA/5-1-Lecture[[:space:]]4[[:space:]]-Jira[[:space:]]structure[[:space:]]and[[:space:]]objects.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
